<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>[%d{HH:mm:ss}] [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

	<!--  
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${webapplog}\YazjpNT\log.txt</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			rollover daily
			<fileNamePattern>${webapplog}\YazjpNT\log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				or whenever the file size reaches 100MB
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		 </rollingPolicy>
		<encoder>
			<pattern>[%d{HH:mm:ss}] [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender> 
	-->
  
  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ROLLING" />
  </root>
</configuration>